
<h1>Personal Settings</h1>
<div class="row"> 
  <%= simple_form_for @profile do |f| %>
    <%= f.input :user_name, label: 'User name', :input_html => {:class => ".col-md-4"}%>
    <%= f.input :first_name, label: 'First name' %>
    <%= f.input :last_name, label: 'Last name' %>
    <%= f.input :linkedin, label: 'LinkedIn URL'%>
 <!--    f.association :reminder, label: 'Check-in Reminder Frequency', value: @profile.reminder_id %> -->
    <br><p>
      <%= f.submit class: 'btn btn-primary' %>
    </p>
  <!--  <%= f.button :submit %> -->
  <% end %>
</div> 
<hr>
