<h2>Edit Interview question</h2>


<!-- simple form sucks!  -->
<%= simple_form_for @interview do |f| %>
	<%= f.input :question, label: 'Question' %>
	<%= f.input :answer, :input_html => {:rows => 5, :class => "fillmein" } %>
	<%= f.submit class: 'btn btn-primary' %>
<!-- 	<%= f.button :submit %> -->
<% end %>
<p><a href="/interview">Return to Interview Questions</a></p>