<h2><%= image_tag 'intervw-qs-49px.png' %></h2>

<section class="create-achievements">
<!-- simple form sucks!  -->
<%= simple_form_for @interview do |f| %>
	<%= f.input :question, label: 'Question' %>
	<%= f.input :answer, :input_html => {:rows => 5, :class => "fillmein" } %>
	<%= f.submit class: 'button' %>
<% end %>
<a href="/interviews">Return to Interview Questions</a>
</section>