<a href="/kudos/"><h1><%= image_tag 'kudos-49px.png' %></h1></a>

<section class="create-kudos">  <%= simple_form_for @kudo do |f| %>
    <%= f.input :content, label: 'Kudo text', :input_html => {:class => ".col-md-4"}%>
    <p><strong>Kudo Author</strong> Sandra Huang</p>
 <!--  Theroretically, we need to be able to tie this to the position_id and the interview_id, but save that for later -->
    <br><p>
      <%= f.submit class: 'button' %>
    </p>
  <!--  <%= f.button :submit %> -->
  <% end %>

  <p><a href="/kudos">Return to Kudos </a></p>
</section>