<h1><%= image_tag 'logo-colors.png' %></h1>

<section class="main-page">
<ul>
  <li>
    <a href="achievements/"><%= image_tag 'achieve-63px.png' %></a>
    <a href="achievements/new" class="create-new">Create new</a>
  </li>
  <li>
    <a href="challenges/"><%= image_tag 'challenges-63px.png' %></a>
    <a href="challenges/new" class="create-new">Create new</a>
  </li>
  <li>
    <a href="goals/"><%= image_tag 'goals-63px.png' %></a>
    <a href="goals/new" class="create-new">Create new</a>
  </li>
  <li>
    <a href="kudos/"><%= image_tag 'kudos-63px.png' %></a>
    <a href="kudos/new" class="create-new">Create new</a>
  </li>
  <li>
    <a href="interviews/"><%= image_tag 'intervw-63px.png' %></a>
    <a href="interviews/new" class="create-new">Create new</a>
  </li>
</ul>
</section>
