<h1> My Challenges</h1>

<p> <b>Challenge Headline: </b> <%= @challenge.headline %></p>
<p> <b>Context:</b> <%= @challenge.context %></p>
<p> <b>My Approach and Solution:</b> <%= @challenge.solution %></p>
<p> <b>Lessons Learned:</b> <%= @challenge.lesson %></p>
<p> <a href='<%=@challenge.id %>/edit'><button type='button' class='btn btn-warning inline'>Edit Challenge Information</button></a></p>
<div class='clear'></div>