<h2><a href="/challenges/"><%= image_tag 'challenge-49px.png' %></a></h2>

<h3><%= @challenge.headline %></h3>
<h6><a href="/challenges/<%= @challenge.id %>/edit">Edit</a>  |  
<a href="/challenges/">Back</a></h6>
<br>
<p> <strong>Context:</strong><br> <%= @challenge.context %></p>
<br>
<p> <strong>My Approach and Solution:</strong><br> <%= @challenge.solution %></p>
<br>
<p> <strong>Lessons Learned:</strong> <br><%= @challenge.lesson %></p>

<!-- <p><strong>Teammates</strong></p>
Sandra Huang, Albert Madison, Sam Thomas -->
