<h2>Edit goal</h2>


<!-- simple form sucks!  -->
<%= simple_form_for @goal do |f| %>
	<%= f.input :title, label: 'Goal Title' %>
	<%= f.input :description, :input_html => {:rows => 5, :class => "fillmein" } %>
	<br>
	<%= f.input :target_date, label: 'Complete by Date' %>
	<br>
	<%= f.input :completed, as: :boolean %>
	<%= f.submit class: 'btn btn-primary' %>

<% end %>
<p><a href="/goals">Return to Goals</a></p>