<h2>Edit goal</h2>
<section class="create-achievements">


<!-- simple form sucks!  -->
<%= simple_form_for @goal do |f| %>
	<%= f.input :title, label: 'Goal Title' %>
	<%= f.input :description, :input_html => {:rows => 5, :class => "fillmein" } %>
	<%= f.input :target_date, label: 'Complete by Date', :input_html => {:class => 'achievement-date'} %>
	<%= f.submit class: 'button' %>

<% end %>
<p><br><a href="/goals">Return to Goals</a></p>
</section>
