<h1><%= image_tag 'goals-49px.png' %></h1>
      <section class="achievement-list">
      <a href="/goals/new"> <input type="button" name="fileit" value="Add new" class="button"></button></a>    
        <ul>
        	<% @goals.each do |goal| %>
	          <li>

	            <h2><a href="/goals/<%= goal.id %>"><%= goal.title %> 	</a>
	            	<%if goal.completed %>
						<%= image_tag 'checkmark.png', :class =>'pull-right' %>
	            	<% else %>	
	            		<time datetime=""> <small class="pull-right">Due by <%= goal.target_date %></small></time>
	            	<% end %>	
	            </h2>
	          </li>
	        <% end  %> 
        </ul>
      </section>

