<h1><%= image_tag 'goals-49px.png' %></h1>

<section class="create-achievements">
<h2>New goal</h2>


<!-- simple form sucks!  -->
<%= simple_form_for @goal do |f| %>
	<%= f.input :title, label: 'Goal Title' %>
	<%= f.input :description, :input_html => {:rows => 5, :class => "fillmein" } %>
	<%= f.input :target_date, label: 'Complete by Date', :input_html => {:class => 'achievement-date'} %>
	<%= f.submit class: 'button' %>

<% end %>
<p style="margin-top: 10px;"><a href="/goals">Return to Goals</a></p>
</section>
