<h1>Goals</h1>
<h2><%= @goal.title %></h2>
<p><%= @goal.description %></p>
<time><%= @goal.target_date %></time>


<%= simple_form_for @goal do |f| %>
	<%= f.input :completed, as: :boolean %>
<!-- 	<%= f.submit class: 'btn btn-primary' %> -->

<% end %>

<a href="/goals/<%= @goal.id %>/edit">Edit</a> | <a href="/goals/">Return to goals</a>