<h1><%= image_tag 'achieve-49px.png' %></h1>
      
      <section class="create-achievements">

<!-- simple form sucks!  -->
		<%= simple_form_for @achievement do |f| %>
			<%= f.input :title, label: 'Achievement Title' %>
			<%= f.input :achievement_date, label: 'Achievement Date' %>
			<%= f.association :position, :input_html => {:class => "fillmein"}, label: "Associated Job" %>
			<%= f.input :description, :input_html => {:rows => 5, :class => "fillmein" } %>

			<%= f.submit class: 'button' %>
		<% end %>

       </section>

<a href="/achievements">Return to Achievements</a>