
<h1>Achievements</h1>
  <section class="achievement-list">
	<ul>
	<!-- show all  -->
	<% @achievements.each do |achievement| %>
	  	<li>
	    	<h3>Software Engineer - Google</h3>
	    	<h2><a href ="/achievements/<%= achievement.id %>"><%= achievement.title %><time datetime=""><%= achievement.achievement_date %></time></a></h2>
            <a href="" class="see-all">See all for this position</a>
<!-- 		<a href="<%= achievement.id%>/edit">Edit</a> -->
			<!-- delete button -->
<!-- 			<form action="<%= achievement.id %>" method="post">
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<input type="submit" value="delete" class="btn btn-danger">
				<input type="hidden" name="_method" value="delete">
			</form> -->
	    </li>
	<% end %> 
  </ul>
</section>

<a href="/achievements/new">New Achievement</a>

